<aside
  class="absolute top-32 left-0 z-40 w-64 rounded-xl bg-white p-6 ml-5 border border-gray-100 hidden md:block"
>
  <div class="mb-8">
    <h2 class="mb-4 text-xl font-bold text-gray-900">Filtros</h2>
    <div class="h-px bg-red-500 mb-6"></div>
  </div>

  <div class="space-y-6">
    <div class="mb-4">
      <h3 class="mb-3 font-semibold text-gray-800">Género</h3>
      <div class="space-y-2">
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline red">Hombre</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">Mujer</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">Unisex</span>
        </label>
      </div>
    </div>

    <div class="mb-4">
      <h3 class="mb-3 font-semibold text-gray-800">Marca</h3>
      <div class="space-y-2">
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">Nike</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">Adidas</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">Louis Vuitton</span>
        </label>
      </div>
    </div>

    <div class="mb-4">
      <h3 class="mb-3 font-semibold text-gray-800">Precio</h3>
      <div class="space-y-2">
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">$0 - $100</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">$100 - $200</span>
        </label>
        <label
          class="flex items-center gap-2 cursor-pointer hover:bg-gray-50 p-2 rounded-lg"
        >
          <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-black focus:ring-black"
          />
          <span class="text-gray-700 hover:underline">$200+</span>
        </label>
      </div>
    </div>
  </div>
</aside>
