<div class="min-h-screen bg-white text-white p-2 md:p-8">
  <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-10">
    <div class="relative overflow-hidden rounded-2xl group">
      <img
        src="/images/running-nike.webp"
        alt="Runner at sunset"
        class="w-full h-[600px] object-cover object-center"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
      >
      </div>
      <div class="absolute bottom-0 left-0 p-8">
        <p class="text-sm font-medium mb-2">Novedad de running</p>
        <h2 class="text-4xl font-bold mb-6">Vomero 18</h2>
        <button
          class="bg-white text-black px-6 py-2 rounded-full font-medium hover:bg-gray-100 transition-colors"
        >
          <a href="/catalogo">Comprar</a>
        </button>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-2xl group">
      <img
        src="/images/franquicia-jordan.webp"
        alt="Football boots"
        class="w-full h-[600px] object-cover object-center"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
      >
      </div>
      <div class="absolute bottom-0 left-0 p-8">
        <p class="text-sm font-medium mb-2">Nike x Jordan</p>
        <h2 class="text-4xl font-bold mb-6">Mad Energy Pack</h2>
        <button
          class="bg-white text-black px-6 py-2 rounded-full font-medium hover:bg-gray-100 transition-colors"
        >
          <a href="/catalogo">Comprar</a>
        </button>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-2xl group">
      <img
        src="/images/sport-adidas.webp"
        alt="Football boots"
        class="w-full h-[600px] object-cover object-center"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
      >
      </div>
      <div class="absolute bottom-0 left-0 p-8">
        <p class="text-sm font-medium mb-2">Adidas Football</p>
        <h2 class="text-4xl font-bold mb-6">Mad Energy Pack</h2>
        <button
          class="bg-white text-black px-6 py-2 rounded-full font-medium hover:bg-gray-100 transition-colors"
        >
          <a href="/catalogo">Comprar</a>
        </button>
      </div>
    </div>
    <div class="relative overflow-hidden rounded-2xl group">
      <img
        src="/images/yeezy-slide.webp"
        alt="Football boots"
        class="w-full h-[600px] object-cover object-center"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"
      >
      </div>
      <div class="absolute bottom-0 left-0 p-8">
        <p class="text-sm font-medium mb-2">Adidas Yeezy Sliders</p>
        <h2 class="text-4xl font-bold mb-6">Mad Energy Pack</h2>
        <button
          class="bg-white text-black px-6 py-2 rounded-full font-medium hover:bg-gray-100 transition-colors"
        >
          <a href="/catalogo">Comprar</a>
        </button>
      </div>
    </div>
  </div>
</div>
