---
import { cartItems } from "@/store/cart";
---

<header class="sticky top-0 left-0 w-full bg-white p-3 sm:p-5 border-b border-gray-200 z-50">
  <div
    class="absolute top-0 left-0 w-full h-1 bg-gradient-to-t from-gray-200 to-red-600"
  >
  </div>
  <nav>
    <ul class="flex items-center justify-around">
      <li>
        <a href="/">
          <span class="text-red-500 mr-1">←</span> Volver
        </a>
      </li>
      <li>
        <a href="/">
          <img src="./images/NeonVibe.webp" alt="NeonVibe Logo" width="90px">
        </a>
      </li>
      <li class="relative flex items-center">
        <a href="/carrito">
          <span
            class="relative top-1 left-6 bg-white text-black rounded-full w-4 h-4 flex items-center justify-center text-xs cart-count"
          >
            0
          </span>
          <img src="/svg/carrito.svg" alt="IconCarrito" class="w-7 h-7" />
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="bg-gray-950 text-white p-1 max-sm:block sm:hidden">
  <div class="flex justify-between items-center ml-2">
    <h2 class="font-bold">Filtrar por</h2>
    <div class="p-1">
      <img src="/svg/Filtro.svg" alt="IconFiltro" class="w-8 h-8 invert" />
    </div>    
  </div>
</div>


<script>
  import { cartItems } from "@/store/cart";

  const cartCount = document.querySelector(".cart-count");
  cartItems.subscribe((items) => {
    if (cartCount) {
      cartCount.textContent = items
        .reduce((total, item) => total + item.quantity, 0)
        .toString();
    }
  });
</script>
