---
import "./src/styles/global.css";
const { titulo = "NeonVibe" } = Astro.props;

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{titulo}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
